# <font color ='green' size=8>7 Days of Code 1</font>
#### Neste notebook você encontrará os passos que fiz para selecionar os dados que serão utilizados nas análises posteriores. Foram retiradas colunas que não seriam interessantes para análises, retirados os valores nulos e valores duplicados. Alguns valores tiveram seu tipo mudado e sua nomeação. Além disso, os nomes dos senadores foram corrigidor

Os dados foram baixados do CEAPS: https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps

## Importando bibliotecas e dataset

In [1]:
import pandas as pd

In [2]:
df_2018 = pd.read_csv('dados/despesa_ceaps_2018.csv', sep =';', skiprows= 1)

#### Vamos observar primeiro quantos valores temos, quantos valores nulos e quantos valores únicos temos para então começar a limpar os dados

In [3]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                24492 non-null  int64
 1   MES                24492 non-null  int64
 2   SENADOR            24492 non-null  object
 3   TIPO_DESPESA       24492 non-null  object
 4   CNPJ_CPF           24492 non-null  object
 5   FORNECEDOR         24492 non-null  object
 6   DOCUMENTO          23476 non-null  object
 7   DATA               24492 non-null  object
 8   DETALHAMENTO       18882 non-null  object
 9   VALOR_REEMBOLSADO  24492 non-null  object
 10  COD_DOCUMENTO      24492 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.1+ MB

In [4]:
for i in ['CNPJ_CPF','FORNECEDOR','DOCUMENTO','COD_DOCUMENTO','DETALHAMENTO']:
    print(f'Quantidade de {i} : {len(df_2018[i].unique())}')

Quantidade de CNPJ_CPF : 3550
Quantidade de FORNECEDOR : 3934
Quantidade de DOCUMENTO : 21196
Quantidade de COD_DOCUMENTO : 24492
Quantidade de DETALHAMENTO : 10237

#### Como há muitos valores único na lista de colunas acima vou retirá-las do meu dataset. Isto irá facilitar minhas análise e deixará com que o dataset não tenha tanta informação em lista do tipo documento, detalhamento e fornecedor.

#### Logo abaixo também irei retirar as duplitas que existem no dataset para não haver dados copiados.

In [5]:
df_2018.drop(columns = ['CNPJ_CPF','FORNECEDOR','DOCUMENTO','COD_DOCUMENTO','DETALHAMENTO'], inplace = True)
df_2018.head()

,ANO,MES,SENADOR,TIPO_DESPESA,DATA,VALOR_REEMBOLSADO
0,2018,1,ACIR GURGACZ,"Aluguel de im�veis para escrit�rio pol�tico, c...",02/01/2018,6000
1,2018,1,ACIR GURGACZ,"Passagens a�reas, aqu�ticas e terrestres nacio...",02/01/2018,"274,99"
2,2018,1,ACIR GURGACZ,"Passagens a�reas, aqu�ticas e terrestres nacio...",02/01/2018,"1094,29"
3,2018,1,ACIR GURGACZ,"Passagens a�reas, aqu�ticas e terrestres nacio...",24/01/2018,"1553,99"
4,2018,2,ACIR GURGACZ,"Aluguel de im�veis para escrit�rio pol�tico, c...",01/02/2018,6000

In [6]:
df_2018['TIPO_DESPESA'].unique()

array(['Aluguel de im�veis para escrit�rio pol�tico, compreendendo despesas concernentes a eles.',
       'Passagens a�reas, aqu�ticas e terrestres nacionais',
       'Divulga��o da atividade parlamentar',
       'Contrata��o de consultorias, assessorias, pesquisas, trabalhos t�cnicos e outros servi�os de apoio ao exerc�cio do mandato parlamentar',
       'Locomo��o, hospedagem, alimenta��o, combust�veis e lubrificantes',
       'Aquisi��o de material de consumo para uso no escrit�rio pol�tico, inclusive aquisi��o ou loca��o de software, despesas postais, aquisi��o de publica��es, loca��o de m�veis e de equipamentos. ',
       'Servi�os de Seguran�a Privada'], dtype=object)

In [7]:
valores_tipo_despesa={'Aluguel de im�veis para escrit�rio pol�tico, compreendendo despesas concernentes a eles.':'Aluguel Imoveis',
       'Passagens a�reas, aqu�ticas e terrestres nacionais':'Passagens',
       'Divulga��o da atividade parlamentar':'Atividade Parlamentar',
       'Contrata��o de consultorias, assessorias, pesquisas, trabalhos t�cnicos e outros servi�os de apoio ao exerc�cio do mandato parlamentar':'Apoio parlamentar',
       'Locomo��o, hospedagem, alimenta��o, combust�veis e lubrificantes':'Viagens',
       'Aquisi��o de material de consumo para uso no escrit�rio pol�tico, inclusive aquisi��o ou loca��o de software, despesas postais, aquisi��o de publica��es, loca��o de m�veis e de equipamentos. ':'Material de consumo',
       'Servi�os de Seguran�a Privada':'seguranca'}

In [8]:
df_2018['TIPO_DESPESA'] = df_2018['TIPO_DESPESA'].map(valores_tipo_despesa)

In [9]:
df_2018['VALOR_REEMBOLSADO'] = df_2018['VALOR_REEMBOLSADO'].astype(str)
df_2018['VALOR_REEMBOLSADO'] = df_2018['VALOR_REEMBOLSADO'].str.replace(',','.')
df_2018['VALOR_REEMBOLSADO'] = df_2018['VALOR_REEMBOLSADO'].astype(float)
df_2018.head()

    ANO  MES       SENADOR     TIPO_DESPESA        DATA  VALOR_REEMBOLSADO
0  2018    1  ACIR GURGACZ  Aluguel Imoveis  02/01/2018            6000.00
1  2018    1  ACIR GURGACZ        Passagens  02/01/2018             274.99
2  2018    1  ACIR GURGACZ        Passagens  02/01/2018            1094.29
3  2018    1  ACIR GURGACZ        Passagens  24/01/2018            1553.99
4  2018    2  ACIR GURGACZ  Aluguel Imoveis  01/02/2018            6000.00

In [10]:
df_2018['DATA'] = df_2018['DATA'].astype(str)
df_2018['DATA'] = df_2018['DATA'].str.replace('208','2018')
df_2018['DATA'] = df_2018['DATA'].astype(object)
df_2018.head()

    ANO  MES       SENADOR     TIPO_DESPESA        DATA  VALOR_REEMBOLSADO
0  2018    1  ACIR GURGACZ  Aluguel Imoveis  02/01/2018            6000.00
1  2018    1  ACIR GURGACZ        Passagens  02/01/2018             274.99
2  2018    1  ACIR GURGACZ        Passagens  02/01/2018            1094.29
3  2018    1  ACIR GURGACZ        Passagens  24/01/2018            1553.99
4  2018    2  ACIR GURGACZ  Aluguel Imoveis  01/02/2018            6000.00

In [11]:
df_2018['DATA'] = df_2018['DATA'].astype(str)
datas = df_2018['DATA']
datas[0:4]

0    02/01/2018
1    02/01/2018
2    02/01/2018
3    24/01/2018
Name: DATA, dtype: object

In [12]:
datas_novas = []
for i in datas:
    if i[6:] != 2018:
        datas_novas.append(str(i[:6]) +'2018')
        #print('Novidade')
    else:
        data_novas.append(i)

In [13]:
df_2018['DATA'] = datas_novas

In [14]:
df_2018['DATA'] = pd.to_datetime(df_2018['DATA'])

## Nomes de senadores errados

In [15]:
dict_nomes={}
for i in range(len(nomes)):
    dict_nomes[df_2018['SENADOR'].unique()[i]] = nomes[i]
dict_nomes

NameError: name 'nomes' is not defined

In [ ]:
df = pd.read_csv('dados/despesa_ceaps_2019_alterado.csv', sep =';')
df.SENADOR.unique() ==df_2018.SENADOR.unique()

In [ ]:
df_2018['SENADOR']= df_2018['SENADOR'].map(dict_nomes)

In [ ]:
df_2018['SENADOR']

## Tirar as duplicatas

In [ ]:
df_2018.drop_duplicates(inplace = True)
df_2018.info()

## Resuminho

In [16]:
valores_tipo_despesa={'Aluguel de im�veis para escrit�rio pol�tico, compreendendo despesas concernentes a eles.':'Aluguel Imoveis',
       'Passagens a�reas, aqu�ticas e terrestres nacionais':'Passagens',
       'Divulga��o da atividade parlamentar':'Atividade Parlamentar',
       'Contrata��o de consultorias, assessorias, pesquisas, trabalhos t�cnicos e outros servi�os de apoio ao exerc�cio do mandato parlamentar':'Apoio parlamentar',
       'Locomo��o, hospedagem, alimenta��o, combust�veis e lubrificantes':'Viagens',
       'Aquisi��o de material de consumo para uso no escrit�rio pol�tico, inclusive aquisi��o ou loca��o de software, despesas postais, aquisi��o de publica��es, loca��o de m�veis e de equipamentos. ':'Material de consumo',
       'Servi�os de Seguran�a Privada':'seguranca'}

In [17]:
dict_nomes={}
for i in range(len(nomes)):
    dict_nomes[df_2018['SENADOR'].unique()[i]] = nomes[i]
dict_nomes

NameError: name 'nomes' is not defined

In [26]:
for y in ['2018','2019','2020','2021','2022']:
    df = pd.read_csv('dados/despesa_ceaps_' + y +'.csv', sep =';', skiprows= 1)
    df.drop(columns = ['CNPJ_CPF','FORNECEDOR','DOCUMENTO','COD_DOCUMENTO','DETALHAMENTO'], inplace = True)
    df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map(valores_tipo_despesa)
    df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].astype(str)
    df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',','.')
    df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].astype(float)
    df['DATA'] = df['DATA'].astype(str)
    datas = df['DATA']
    datas_novas = []
    for i in datas:
        if i[6:] != int(y):
            datas_novas.append(str(i[:6]) +y)
            #print('Novidade')
        else:
            data_novas.append(i)
    df['DATA'] = datas_novas
    df.drop_duplicates(inplace = True)
    df.to_csv('dados/despesa_ceaps_' + y +'_alterado.csv', sep =';', index = False)

In [27]:
df = pd.read_csv('dados/despesa_ceaps_2019_alterado.csv', sep =';')
df.head()

    ANO  MES       SENADOR     TIPO_DESPESA        DATA  VALOR_REEMBOLSADO
0  2019    1  ACIR GURGACZ  Aluguel Imoveis  04/01/2019              66.02
1  2019    1  ACIR GURGACZ  Aluguel Imoveis  04/01/2019             139.98
2  2019    1  ACIR GURGACZ  Aluguel Imoveis  07/01/2019            6000.00
3  2019    1  ACIR GURGACZ  Aluguel Imoveis  25/12/2019             316.39
4  2019    2  ACIR GURGACZ  Aluguel Imoveis  04/02/2019              99.45

## Pegando nome dos senadores

In [28]:
nomes_errados = []
for y in ['2018','2019','2020','2021','2022']:
    df_n =pd.read_csv('dados/despesa_ceaps_' + y +'_alterado.csv', sep =';')
    for i in df_n.SENADOR.unique():
        nomes_errados.append(i)

In [29]:
print(len(nomes_errados))
nomes_errados = list(set(nomes_errados))
print(len(nomes_errados))

468
158

In [30]:
nomes_errados.sort()
nomes_errados

['ACIR GURGACZ',
 'AIRTON SANDOVAL',
 'ALESSANDRO VIEIRA',
 'ALEXANDRE SILVEIRA',
 'ALOYSIO NUNES FERREIRA',
 'ALVARO DIAS',
 'ANA AM�LIA',
 'ANGELO CORONEL',
 'ANTONIO ANASTASIA',
 'ANT�NIO CARLOS VALADARES',
 'ARMANDO MONTEIRO',
 'AROLDE DE OLIVEIRA',
 'ATA�DES OLIVEIRA',
 'A�CIO NEVES',
 'BENEDITO DE LIRA',
 'BLAIRO MAGGI',
 'CARLOS F�VARO',
 'CARLOS PORTINHO',
 'CARLOS VIANA',
 'CHICO RODRIGUES',
 'CHIQUINHO FEITOSA',
 'CID GOMES',
 'CIDINHO SANTOS',
 'CIRO NOGUEIRA',
 'CONF�CIO MOURA',
 'CRISTOVAM BUARQUE',
 'C�SSIO CUNHA LIMA',
 'DALIRIO BEBER',
 'DANIELLA RIBEIRO',
 'DAVI ALCOLUMBRE',
 'DIEGO TAVARES',
 'D�RIO BERGER',
 'EDISON LOB�O',
 'EDUARDO AMORIM',
 'EDUARDO BRAGA',
 'EDUARDO GIR�O',
 'EDUARDO GOMES',
 'EDUARDO LOPES',
 'ELBER BATALHA',
 'ELIANE NOGUEIRA',
 'ELIZIANE GAMA',
 'ELMANO F�RRER',
 'ESPERIDI�O AMIN',
 'FABIANO CONTARATO',
 'FERNANDO BEZERRA COELHO',
 'FERNANDO COLLOR',
 'FLEXA RIBEIRO',
 'FL�VIO ARNS',
 'FL�VIO BOLSONARO',
 'F�TIMA BEZERRA',
 'GARIBALDI ALVES FILHO',
 'GIORDANO',
 'GIVAGO TEN�RIO',
 'GLADSON CAMELI',
 'GLEISI HOFFMANN',
 'GUARACY SILVEIRA',
 'HUMBERTO COSTA',
 'H�LIO JOS�',
 'IONE GUIMAR�ES',
 'IRAJ�',
 'IVO CASSOL',
 'IZALCI LUCAS',
 'JADER BARBALHO',
 'JAQUES WAGNER',
 'JARBAS VASCONCELOS',
 'JAYME CAMPOS',
 'JEAN PAUL PRATES',
 'JORGE VIANA',
 'JORGINHO MELLO',
 'JOS� AGRIPINO',
 'JOS� AMAURI',
 'JOS� AN�BAL',
 'JOS� MARANH�O',
 'JOS� MEDEIROS',
 'JOS� PIMENTEL',
 'JOS� SERRA',
 'JO�O ALBERTO SOUZA',
 'JO�O CAPIBERIBE',
 'JU�ZA SELMA',
 'K�TIA ABREU',
 'LASIER MARTINS',
 'LINDBERGH FARIAS',
 'LUCAS BARRETO',
 'LUIS CARLOS HEINZE',
 'LUIZ CARLOS DO CARMO',
 'LUIZ PASTORE',
 'L�CIA V�NIA',
 'L�DICE DA MATA',
 'MAGNO MALTA',
 'MAILZA GOMES',
 'MAJOR OLIMPIO',
 'MARA GABRILLI',
 'MARCELO CASTRO',
 'MARCIO BITTAR',
 'MARCOS DO VAL',
 'MARCOS ROG�RIO',
 'MARIA DO CARMO ALVES',
 'MARIA ELIZA DE AGUIAR E SILVA',
 'MARTA SUPLICY',
 'MECIAS DE JESUS',
 'NAILDE PANTA',
 'NELSINHO TRAD',
 'NEY SUASSUNA',
 'NILDA GONDIM',
 'OMAR AZIZ',
 'ORIOVISTO GUIMAR�ES',
 'OTTO ALENCAR',
 'PASTOR BEL',
 'PAULO ALBUQUERQUE',
 'PAULO BAUER',
 'PAULO PAIM',
 'PAULO ROCHA',
 'PEDRO CHAVES DOS SANTOS FILHO',
 'PL�NIO VAL�RIO',
 'PRISCO BEZERRA',
 'RAIMUNDO LIRA',
 'RANDOLFE RODRIGUES',
 'REDITARIO CASSOL',
 'REGINA SOUSA',
 'RENAN CALHEIROS',
 'RENILDE BULH�ES',
 'RICARDO FERRA�O',
 'ROBERTO MUNIZ',
 'ROBERTO REQUI�O',
 'ROBERTO ROCHA',
 'RODRIGO CUNHA',
 'RODRIGO PACHECO',
 'RODRIGUES PALMA',
 'ROG�RIO CARVALHO',
 'ROMERO JUC�',
 'ROM�RIO',
 'RONALDO CAIADO',
 'ROSE DE FREITAS',
 'RUDSON LEITE',
 'SIMONE TEBET',
 'SIQUEIRA CAMPOS',
 'SORAYA THRONICKE',
 'STYVENSON VALENTIM',
 'S�RGIO DE CASTRO',
 'S�RGIO PETEC�O',
 'TASSO JEREISSATI',
 'TELM�RIO MOTA',
 'VALDIR RAUPP',
 'VANDERLAN CARDOSO',
 'VANESSA GRAZZIOTIN',
 'VENEZIANO VITAL DO R�GO',
 'VICENTINHO ALVES',
 'VIRGINIO DE CARVALHO',
 'WALDEMIR MOKA',
 'WALTER PINHEIRO',
 'WELLINGTON FAGUNDES',
 'WEVERTON ROCHA',
 'WILDER MORAIS',
 'ZENAIDE MAIA',
 'ZEQUINHA MARINHO',
 'ZEZ� PERRELLA',
 'Z� SANTANA',
 '�NGELA PORTELA']

In [31]:
nomes_certos = ['ACIR GURGACZ',
 'AIRTON SANDOVAL',
 'ALESSANDRO VIEIRA',
 'ALEXANDRE SILVEIRA',
 'ALOYSIO NUNES FERREIRA',
 'ALVARO DIAS',
 'ANA AMALIA',
 'ANGELO CORONEL',
 'ANTONIO ANASTASIA',
 'ANTONIO CARLOS VALADARES',
 'ARMANDO MONTEIRO',
 'AROLDE DE OLIVEIRA',
 'ATAIDES OLIVEIRA',
 'AECIO NEVES',
 'BENEDITO DE LIRA',
 'BLAIRO MAGGI',
 'CARLOS FAVARO',
 'CARLOS PORTINHO',
 'CARLOS VIANA',
 'CHICO RODRIGUES',
 'CHIQUINHO FEITOSA',
 'CID GOMES',
 'CIDINHO SANTOS',
 'CIRO NOGUEIRA',
 'CONFUCIO MOURA',
 'CRISTOVAM BUARQUE',
 'CASSIO CUNHA LIMA',
 'DALIRIO BEBER',
 'DANIELLA RIBEIRO',
 'DAVI ALCOLUMBRE',
 'DIEGO TAVARES',
 'DARIO BERGER',
 'EDISON LOBAO',
 'EDUARDO AMORIM',
 'EDUARDO BRAGA',
 'EDUARDO GIRAO',
 'EDUARDO GOMES',
 'EDUARDO LOPES',
 'ELBER BATALHA',
 'ELIANE NOGUEIRA',
 'ELIZIANE GAMA',
 'ELMANO FERRER',
 'ESPERIDIAO AMIN',
 'FABIANO CONTARATO',
 'FERNANDO BEZERRA COELHO',
 'FERNANDO COLLOR',
 'FLEXA RIBEIRO',
 'FLAVIO ARNS',
 'FLAVIO BOLSONARO',
 'FATIMA BEZERRA',
 'GARIBALDI ALVES FILHO',
 'GIORDANO',
 'GIVAGO TENORIO',
 'GLADSON CAMELI',
 'GLEISI HOFFMANN',
 'GUARACY SILVEIRA',
 'HUMBERTO COSTA',
 'HELIO JOSE',
 'IONE GUIMARAES',
 'IRAJA',
 'IVO CASSOL',
 'IZALCI LUCAS',
 'JADER BARBALHO',
 'JAQUES WAGNER',
 'JARBAS VASCONCELOS',
 'JAYME CAMPOS',
 'JEAN PAUL PRATES',
 'JORGE VIANA',
 'JORGINHO MELLO',
 'JOSE AGRIPINO',
 'JOSE AMAURI',
 'JOSE ANIBAL',
 'JOSE MARANHAO',
 'JOSE MEDEIROS',
 'JOSE PIMENTEL',
 'JOSE SERRA',
 'JOAO ALBERTO SOUZA',
 'JOAO CAPIBERIBE',
 'JUIZA SELMA',
 'KATIA ABREU',
 'LASIER MARTINS',
 'LINDBERGH FARIAS',
 'LUCAS BARRETO',
 'LUIS CARLOS HEINZE',
 'LUIZ CARLOS DO CARMO',
 'LUIZ PASTORE',
 'LUCIA VANIA',
 'LIDICE DA MATA',
 'MAGNO MALTA',
 'MAILZA GOMES',
 'MAJOR OLIMPIO',
 'MARA GABRILLI',
 'MARCELO CASTRO',
 'MARCIO BITTAR',
 'MARCOS DO VAL',
 'MARCOS ROGERIO',
 'MARIA DO CARMO ALVES',
 'MARIA ELIZA DE AGUIAR E SILVA',
 'MARTA SUPLICY',
 'MECIAS DE JESUS',
 'NAILDE PANTA',
 'NELSINHO TRAD',
 'NEY SUASSUNA',
 'NILDA GONDIM',
 'OMAR AZIZ',
 'ORIOVISTO GUIMARAES',
 'OTTO ALENCAR',
 'PASTOR BEL',
 'PAULO ALBUQUERQUE',
 'PAULO BAUER',
 'PAULO PAIM',
 'PAULO ROCHA',
 'PEDRO CHAVES DOS SANTOS FILHO',
 'PLINIO VALERIO',
 'PRISCO BEZERRA',
 'RAIMUNDO LIRA',
 'RANDOLFE RODRIGUES',
 'REDITARIO CASSOL',
 'REGINA SOUSA',
 'RENAN CALHEIROS',
 'RENILDE BULHAES',
 'RICARDO FERRACO',
 'ROBERTO MUNIZ',
 'ROBERTO REQUIAO',
 'ROBERTO ROCHA',
 'RODRIGO CUNHA',
 'RODRIGO PACHECO',
 'RODRIGUES PALMA',
 'ROGERIO CARVALHO',
 'ROMERO JUCA',
 'ROMARIO',
 'RONALDO CAIADO',
 'ROSE DE FREITAS',
 'RUDSON LEITE',
 'SIMONE TEBET',
 'SIQUEIRA CAMPOS',
 'SORAYA THRONICKE',
 'STYVENSON VALENTIM',
 'SERGIO DE CASTRO',
 'SERGIO PETECAO',
 'TASSO JEREISSATI',
 'TELMARIO MOTA',
 'VALDIR RAUPP',
 'VANDERLAN CARDOSO',
 'VANESSA GRAZZIOTIN',
 'VENEZIANO VITAL DO REGO',
 'VICENTINHO ALVES',
 'VIRGINIO DE CARVALHO',
 'WALDEMIR MOKA',
 'WALTER PINHEIRO',
 'WELLINGTON FAGUNDES',
 'WEVERTON ROCHA',
 'WILDER MORAIS',
 'ZENAIDE MAIA',
 'ZEQUINHA MARINHO',
 'ZEZE PERRELLA',
 'ZE SANTANA',
 'ANGELA PORTELA']

In [32]:
dict_nomes={}
for i in range(len(nomes_errados)):
    dict_nomes[nomes_errados[i]] = nomes_certos[i]
dict_nomes

{'ACIR GURGACZ': 'ACIR GURGACZ',
 'AIRTON SANDOVAL': 'AIRTON SANDOVAL',
 'ALESSANDRO VIEIRA': 'ALESSANDRO VIEIRA',
 'ALEXANDRE SILVEIRA': 'ALEXANDRE SILVEIRA',
 'ALOYSIO NUNES FERREIRA': 'ALOYSIO NUNES FERREIRA',
 'ALVARO DIAS': 'ALVARO DIAS',
 'ANA AM�LIA': 'ANA AMALIA',
 'ANGELO CORONEL': 'ANGELO CORONEL',
 'ANTONIO ANASTASIA': 'ANTONIO ANASTASIA',
 'ANT�NIO CARLOS VALADARES': 'ANTONIO CARLOS VALADARES',
 'ARMANDO MONTEIRO': 'ARMANDO MONTEIRO',
 'AROLDE DE OLIVEIRA': 'AROLDE DE OLIVEIRA',
 'ATA�DES OLIVEIRA': 'ATAIDES OLIVEIRA',
 'A�CIO NEVES': 'AECIO NEVES',
 'BENEDITO DE LIRA': 'BENEDITO DE LIRA',
 'BLAIRO MAGGI': 'BLAIRO MAGGI',
 'CARLOS F�VARO': 'CARLOS FAVARO',
 'CARLOS PORTINHO': 'CARLOS PORTINHO',
 'CARLOS VIANA': 'CARLOS VIANA',
 'CHICO RODRIGUES': 'CHICO RODRIGUES',
 'CHIQUINHO FEITOSA': 'CHIQUINHO FEITOSA',
 'CID GOMES': 'CID GOMES',
 'CIDINHO SANTOS': 'CIDINHO SANTOS',
 'CIRO NOGUEIRA': 'CIRO NOGUEIRA',
 'CONF�CIO MOURA': 'CONFUCIO MOURA',
 'CRISTOVAM BUARQUE': 'CRISTOVAM BUARQUE',
 'C�SSIO CUNHA LIMA': 'CASSIO CUNHA LIMA',
 'DALIRIO BEBER': 'DALIRIO BEBER',
 'DANIELLA RIBEIRO': 'DANIELLA RIBEIRO',
 'DAVI ALCOLUMBRE': 'DAVI ALCOLUMBRE',
 'DIEGO TAVARES': 'DIEGO TAVARES',
 'D�RIO BERGER': 'DARIO BERGER',
 'EDISON LOB�O': 'EDISON LOBAO',
 'EDUARDO AMORIM': 'EDUARDO AMORIM',
 'EDUARDO BRAGA': 'EDUARDO BRAGA',
 'EDUARDO GIR�O': 'EDUARDO GIRAO',
 'EDUARDO GOMES': 'EDUARDO GOMES',
 'EDUARDO LOPES': 'EDUARDO LOPES',
 'ELBER BATALHA': 'ELBER BATALHA',
 'ELIANE NOGUEIRA': 'ELIANE NOGUEIRA',
 'ELIZIANE GAMA': 'ELIZIANE GAMA',
 'ELMANO F�RRER': 'ELMANO FERRER',
 'ESPERIDI�O AMIN': 'ESPERIDIAO AMIN',
 'FABIANO CONTARATO': 'FABIANO CONTARATO',
 'FERNANDO BEZERRA COELHO': 'FERNANDO BEZERRA COELHO',
 'FERNANDO COLLOR': 'FERNANDO COLLOR',
 'FLEXA RIBEIRO': 'FLEXA RIBEIRO',
 'FL�VIO ARNS': 'FLAVIO ARNS',
 'FL�VIO BOLSONARO': 'FLAVIO BOLSONARO',
 'F�TIMA BEZERRA': 'FATIMA BEZERRA',
 'GARIBALDI ALVES FILHO': 'GARIBALDI ALVES FILHO',
 'GIORDANO': 'GIORDANO',
 'GIVAGO TEN�RIO': 'GIVAGO TENORIO',
 'GLADSON CAMELI': 'GLADSON CAMELI',
 'GLEISI HOFFMANN': 'GLEISI HOFFMANN',
 'GUARACY SILVEIRA': 'GUARACY SILVEIRA',
 'HUMBERTO COSTA': 'HUMBERTO COSTA',
 'H�LIO JOS�': 'HELIO JOSE',
 'IONE GUIMAR�ES': 'IONE GUIMARAES',
 'IRAJ�': 'IRAJA',
 'IVO CASSOL': 'IVO CASSOL',
 'IZALCI LUCAS': 'IZALCI LUCAS',
 'JADER BARBALHO': 'JADER BARBALHO',
 'JAQUES WAGNER': 'JAQUES WAGNER',
 'JARBAS VASCONCELOS': 'JARBAS VASCONCELOS',
 'JAYME CAMPOS': 'JAYME CAMPOS',
 'JEAN PAUL PRATES': 'JEAN PAUL PRATES',
 'JORGE VIANA': 'JORGE VIANA',
 'JORGINHO MELLO': 'JORGINHO MELLO',
 'JOS� AGRIPINO': 'JOSE AGRIPINO',
 'JOS� AMAURI': 'JOSE AMAURI',
 'JOS� AN�BAL': 'JOSE ANIBAL',
 'JOS� MARANH�O': 'JOSE MARANHAO',
 'JOS� MEDEIROS': 'JOSE MEDEIROS',
 'JOS� PIMENTEL': 'JOSE PIMENTEL',
 'JOS� SERRA': 'JOSE SERRA',
 'JO�O ALBERTO SOUZA': 'JOAO ALBERTO SOUZA',
 'JO�O CAPIBERIBE': 'JOAO CAPIBERIBE',
 'JU�ZA SELMA': 'JUIZA SELMA',
 'K�TIA ABREU': 'KATIA ABREU',
 'LASIER MARTINS': 'LASIER MARTINS',
 'LINDBERGH FARIAS': 'LINDBERGH FARIAS',
 'LUCAS BARRETO': 'LUCAS BARRETO',
 'LUIS CARLOS HEINZE': 'LUIS CARLOS HEINZE',
 'LUIZ CARLOS DO CARMO': 'LUIZ CARLOS DO CARMO',
 'LUIZ PASTORE': 'LUIZ PASTORE',
 'L�CIA V�NIA': 'LUCIA VANIA',
 'L�DICE DA MATA': 'LIDICE DA MATA',
 'MAGNO MALTA': 'MAGNO MALTA',
 'MAILZA GOMES': 'MAILZA GOMES',
 'MAJOR OLIMPIO': 'MAJOR OLIMPIO',
 'MARA GABRILLI': 'MARA GABRILLI',
 'MARCELO CASTRO': 'MARCELO CASTRO',
 'MARCIO BITTAR': 'MARCIO BITTAR',
 'MARCOS DO VAL': 'MARCOS DO VAL',
 'MARCOS ROG�RIO': 'MARCOS ROGERIO',
 'MARIA DO CARMO ALVES': 'MARIA DO CARMO ALVES',
 'MARIA ELIZA DE AGUIAR E SILVA': 'MARIA ELIZA DE AGUIAR E SILVA',
 'MARTA SUPLICY': 'MARTA SUPLICY',
 'MECIAS DE JESUS': 'MECIAS DE JESUS',
 'NAILDE PANTA': 'NAILDE PANTA',
 'NELSINHO TRAD': 'NELSINHO TRAD',
 'NEY SUASSUNA': 'NEY SUASSUNA',
 'NILDA GONDIM': 'NILDA GONDIM',
 'OMAR AZIZ': 'OMAR AZIZ',
 'ORIOVISTO GUIMAR�ES': 'ORIOVISTO GUIMARAES',
 'OTTO ALENCAR': 'OTTO ALENCAR',
 'PASTOR BEL': 'PASTOR BEL',
 'PAULO ALBUQUERQUE': 'PAULO ALBUQUERQUE',
 'PAULO BAUER': 'PAULO BAUER',
 'PAULO PAIM': 'PAULO PAIM',
 'PAULO ROCHA': 'PAULO ROCHA',
 'PEDRO CHAVES DOS SANTOS FILHO': 'PEDRO CHAVES DOS SANTOS FILHO',
 'PL�NIO VAL�RIO': 'PLINIO VALERIO',
 'PRISCO BEZERRA': 'PRISCO BEZERRA',
 'RAIMUNDO LIRA': 'RAIMUNDO LIRA',
 'RANDOLFE RODRIGUES': 'RANDOLFE RODRIGUES',
 'REDITARIO CASSOL': 'REDITARIO CASSOL',
 'REGINA SOUSA': 'REGINA SOUSA',
 'RENAN CALHEIROS': 'RENAN CALHEIROS',
 'RENILDE BULH�ES': 'RENILDE BULHAES',
 'RICARDO FERRA�O': 'RICARDO FERRACO',
 'ROBERTO MUNIZ': 'ROBERTO MUNIZ',
 'ROBERTO REQUI�O': 'ROBERTO REQUIAO',
 'ROBERTO ROCHA': 'ROBERTO ROCHA',
 'RODRIGO CUNHA': 'RODRIGO CUNHA',
 'RODRIGO PACHECO': 'RODRIGO PACHECO',
 'RODRIGUES PALMA': 'RODRIGUES PALMA',
 'ROG�RIO CARVALHO': 'ROGERIO CARVALHO',
 'ROMERO JUC�': 'ROMERO JUCA',
 'ROM�RIO': 'ROMARIO',
 'RONALDO CAIADO': 'RONALDO CAIADO',
 'ROSE DE FREITAS': 'ROSE DE FREITAS',
 'RUDSON LEITE': 'RUDSON LEITE',
 'SIMONE TEBET': 'SIMONE TEBET',
 'SIQUEIRA CAMPOS': 'SIQUEIRA CAMPOS',
 'SORAYA THRONICKE': 'SORAYA THRONICKE',
 'STYVENSON VALENTIM': 'STYVENSON VALENTIM',
 'S�RGIO DE CASTRO': 'SERGIO DE CASTRO',
 'S�RGIO PETEC�O': 'SERGIO PETECAO',
 'TASSO JEREISSATI': 'TASSO JEREISSATI',
 'TELM�RIO MOTA': 'TELMARIO MOTA',
 'VALDIR RAUPP': 'VALDIR RAUPP',
 'VANDERLAN CARDOSO': 'VANDERLAN CARDOSO',
 'VANESSA GRAZZIOTIN': 'VANESSA GRAZZIOTIN',
 'VENEZIANO VITAL DO R�GO': 'VENEZIANO VITAL DO REGO',
 'VICENTINHO ALVES': 'VICENTINHO ALVES',
 'VIRGINIO DE CARVALHO': 'VIRGINIO DE CARVALHO',
 'WALDEMIR MOKA': 'WALDEMIR MOKA',
 'WALTER PINHEIRO': 'WALTER PINHEIRO',
 'WELLINGTON FAGUNDES': 'WELLINGTON FAGUNDES',
 'WEVERTON ROCHA': 'WEVERTON ROCHA',
 'WILDER MORAIS': 'WILDER MORAIS',
 'ZENAIDE MAIA': 'ZENAIDE MAIA',
 'ZEQUINHA MARINHO': 'ZEQUINHA MARINHO',
 'ZEZ� PERRELLA': 'ZEZE PERRELLA',
 'Z� SANTANA': 'ZE SANTANA',
 '�NGELA PORTELA': 'ANGELA PORTELA'}

In [33]:
dict_nomes.keys()

dict_keys(['ACIR GURGACZ', 'AIRTON SANDOVAL', 'ALESSANDRO VIEIRA', 'ALEXANDRE SILVEIRA', 'ALOYSIO NUNES FERREIRA', 'ALVARO DIAS', 'ANA AM�LIA', 'ANGELO CORONEL', 'ANTONIO ANASTASIA', 'ANT�NIO CARLOS VALADARES', 'ARMANDO MONTEIRO', 'AROLDE DE OLIVEIRA', 'ATA�DES OLIVEIRA', 'A�CIO NEVES', 'BENEDITO DE LIRA', 'BLAIRO MAGGI', 'CARLOS F�VARO', 'CARLOS PORTINHO', 'CARLOS VIANA', 'CHICO RODRIGUES', 'CHIQUINHO FEITOSA', 'CID GOMES', 'CIDINHO SANTOS', 'CIRO NOGUEIRA', 'CONF�CIO MOURA', 'CRISTOVAM BUARQUE', 'C�SSIO CUNHA LIMA', 'DALIRIO BEBER', 'DANIELLA RIBEIRO', 'DAVI ALCOLUMBRE', 'DIEGO TAVARES', 'D�RIO BERGER', 'EDISON LOB�O', 'EDUARDO AMORIM', 'EDUARDO BRAGA', 'EDUARDO GIR�O', 'EDUARDO GOMES', 'EDUARDO LOPES', 'ELBER BATALHA', 'ELIANE NOGUEIRA', 'ELIZIANE GAMA', 'ELMANO F�RRER', 'ESPERIDI�O AMIN', 'FABIANO CONTARATO', 'FERNANDO BEZERRA COELHO', 'FERNANDO COLLOR', 'FLEXA RIBEIRO', 'FL�VIO ARNS', 'FL�VIO BOLSONARO', 'F�TIMA BEZERRA', 'GARIBALDI ALVES FILHO', 'GIORDANO', 'GIVAGO TEN�RIO', 'GLADSON CAMELI', 'GLEISI HOFFMANN', 'GUARACY SILVEIRA', 'HUMBERTO COSTA', 'H�LIO JOS�', 'IONE GUIMAR�ES', 'IRAJ�', 'IVO CASSOL', 'IZALCI LUCAS', 'JADER BARBALHO', 'JAQUES WAGNER', 'JARBAS VASCONCELOS', 'JAYME CAMPOS', 'JEAN PAUL PRATES', 'JORGE VIANA', 'JORGINHO MELLO', 'JOS� AGRIPINO', 'JOS� AMAURI', 'JOS� AN�BAL', 'JOS� MARANH�O', 'JOS� MEDEIROS', 'JOS� PIMENTEL', 'JOS� SERRA', 'JO�O ALBERTO SOUZA', 'JO�O CAPIBERIBE', 'JU�ZA SELMA', 'K�TIA ABREU', 'LASIER MARTINS', 'LINDBERGH FARIAS', 'LUCAS BARRETO', 'LUIS CARLOS HEINZE', 'LUIZ CARLOS DO CARMO', 'LUIZ PASTORE', 'L�CIA V�NIA', 'L�DICE DA MATA', 'MAGNO MALTA', 'MAILZA GOMES', 'MAJOR OLIMPIO', 'MARA GABRILLI', 'MARCELO CASTRO', 'MARCIO BITTAR', 'MARCOS DO VAL', 'MARCOS ROG�RIO', 'MARIA DO CARMO ALVES', 'MARIA ELIZA DE AGUIAR E SILVA', 'MARTA SUPLICY', 'MECIAS DE JESUS', 'NAILDE PANTA', 'NELSINHO TRAD', 'NEY SUASSUNA', 'NILDA GONDIM', 'OMAR AZIZ', 'ORIOVISTO GUIMAR�ES', 'OTTO ALENCAR', 'PASTOR BEL', 'PAULO ALBUQUERQUE', 'PAULO BAUER', 'PAULO PAIM', 'PAULO ROCHA', 'PEDRO CHAVES DOS SANTOS FILHO', 'PL�NIO VAL�RIO', 'PRISCO BEZERRA', 'RAIMUNDO LIRA', 'RANDOLFE RODRIGUES', 'REDITARIO CASSOL', 'REGINA SOUSA', 'RENAN CALHEIROS', 'RENILDE BULH�ES', 'RICARDO FERRA�O', 'ROBERTO MUNIZ', 'ROBERTO REQUI�O', 'ROBERTO ROCHA', 'RODRIGO CUNHA', 'RODRIGO PACHECO', 'RODRIGUES PALMA', 'ROG�RIO CARVALHO', 'ROMERO JUC�', 'ROM�RIO', 'RONALDO CAIADO', 'ROSE DE FREITAS', 'RUDSON LEITE', 'SIMONE TEBET', 'SIQUEIRA CAMPOS', 'SORAYA THRONICKE', 'STYVENSON VALENTIM', 'S�RGIO DE CASTRO', 'S�RGIO PETEC�O', 'TASSO JEREISSATI', 'TELM�RIO MOTA', 'VALDIR RAUPP', 'VANDERLAN CARDOSO', 'VANESSA GRAZZIOTIN', 'VENEZIANO VITAL DO R�GO', 'VICENTINHO ALVES', 'VIRGINIO DE CARVALHO', 'WALDEMIR MOKA', 'WALTER PINHEIRO', 'WELLINGTON FAGUNDES', 'WEVERTON ROCHA', 'WILDER MORAIS', 'ZENAIDE MAIA', 'ZEQUINHA MARINHO', 'ZEZ� PERRELLA', 'Z� SANTANA', '�NGELA PORTELA'])

In [34]:
for y in ['2018','2019','2020','2021','2022']:
    df = pd.read_csv('dados/despesa_ceaps_' + y +'_alterado.csv', sep =';')
    df.SENADOR = df.SENADOR.map(dict_nomes)
    df.to_csv('dados/despesa_ceaps_' + y +'_alterado.csv', sep =';', index = False)

In [36]:
df = pd.read_csv('dados/despesa_ceaps_2020_alterado.csv', sep =';')
df.DATA.unique()

array(['06/01/2020', '02/01/2020', '25/12/2020', '09/01/2020',
       '07/01/2020', '28/01/2020', '27/01/2020', '31/01/2020',
       '05/01/2020', '16/01/2020', '23/01/2020', '24/01/2020',
       '30/01/2020', '07/02/2020', '05/02/2020', '03/02/2020',
       '25/01/2020', '27/02/2020', '12/02/2020', '11/02/2020',
       '28/02/2020', '13/01/2020', '14/01/2020', '10/03/2020',
       '05/03/2020', '02/03/2020', '25/02/2020', '25/03/2020',
       '12/03/2020', '11/03/2020', '04/03/2020', '23/03/2020',
       '31/03/2020', '21/03/2020', '29/02/2020', '09/03/2020',
       '13/03/2020', '19/03/2020', '08/04/2020', '05/04/2020',
       '02/04/2020', '28/04/2020', '03/04/2020', '25/04/2020',
       '24/04/2020', '01/04/2020', '23/04/2020', '22/04/2020',
       '11/05/2020', '05/05/2020', '03/05/2020', '25/05/2020',
       '15/05/2020', '08/05/2020', '19/05/2020', '22/05/2020',
       '04/05/2020', '07/05/2020', '28/05/2020', '08/06/2020',
       '05/06/2020', '02/06/2020', '25/06/2020', '16/06/2020',
       '10/06/2020', '01/06/2020', '23/06/2020', '24/06/2020',
       '29/06/2020', '07/07/2020', '05/07/2020', '02/07/2020',
       '25/07/2020', '06/07/2020', '09/07/2020', '14/07/2020',
       '20/07/2020', '24/07/2020', '29/07/2020', '28/07/2020',
       '27/07/2020', '01/07/2020', '15/07/2020', '17/07/2020',
       '10/08/2020', '05/08/2020', '03/08/2020', '25/08/2020',
       '27/08/2020', '24/08/2020', '31/08/2020', '21/08/2020',
       '29/08/2020', '18/08/2020', '06/08/2020', '12/08/2020',
       '15/08/2020', '09/09/2020', '05/09/2020', '03/09/2020',
       '11/09/2020', '01/09/2020', '10/09/2020', '08/09/2020',
       '22/09/2020', '21/09/2020', '24/09/2020', '02/09/2020',
       '28/09/2020', '04/09/2020', '17/09/2020', '09/10/2020',
       '03/10/2020', '25/09/2020', '13/10/2020', '01/10/2020',
       '05/10/2020', '26/10/2020', '21/10/2020', '08/10/2020',
       '27/10/2020', '29/10/2020', '30/10/2020', '02/10/2020',
       '23/10/2020', '28/10/2020', '18/11/2020', '03/11/2020',
       '25/10/2020', '13/11/2020', '26/11/2020', '23/11/2020',
       '04/11/2020', '05/11/2020', '27/11/2020', '16/11/2020',
       '25/11/2020', '06/11/2020', '09/11/2020', '17/11/2020',
       '12/11/2020', '09/12/2020', '01/12/2020', '03/12/2020',
       '08/12/2020', '04/12/2020', '07/12/2020', '27/12/2020',
       '01/02/2020', '29/01/2020', '04/01/2020', '31/07/2020',
       '17/01/2020', '21/02/2020', '10/02/2020', '18/02/2020',
       '06/02/2020', '19/02/2020', '01/03/2020', '06/04/2020',
       '24/03/2020', '03/03/2020', '26/02/2020', '16/03/2020',
       '12/05/2020', '13/04/2020', '20/04/2020', '30/04/2020',
       '01/05/2020', '20/05/2020', '04/06/2020', '12/06/2020',
       '22/06/2020', '07/08/2020', '16/07/2020', '21/07/2020',
       '04/07/2020', '23/07/2020', '01/08/2020', '30/09/2020',
       '26/08/2020', '13/08/2020', '04/08/2020', '07/10/2020',
       '14/09/2020', '18/09/2020', '06/10/2020', '14/10/2020',
       '20/10/2020', '16/10/2020', '31/10/2020', '15/10/2020',
       '24/10/2020', '01/11/2020', '11/11/2020', '19/11/2020',
       '30/11/2020', '28/11/2020', '15/12/2020', '11/12/2020',
       '05/12/2020', '23/12/2020', '14/12/2020', '16/12/2020',
       '22/12/2020', '24/02/2020', '04/02/2020', '22/01/2020',
       '14/02/2020', '15/02/2020', '14/03/2020', '30/03/2020',
       '14/04/2020', '23/05/2020', '14/05/2020', '29/05/2020',
       '14/06/2020', '28/08/2020', '14/08/2020', '23/08/2020',
       '23/09/2020', '29/09/2020', '16/09/2020', '18/01/2020',
       '14/11/2020', '29/03/2020', '17/12/2020', '03/01/2020',
       '10/12/2020', '10/01/2020', '21/01/2020', '17/02/2020',
       '13/02/2020', '26/01/2020', '17/03/2020', '18/03/2020',
       '20/03/2020', '27/04/2020', '07/04/2020', '26/03/2020',
       '10/04/2020', '12/04/2020', '21/04/2020', '15/04/2020',
       '10/05/2020', '26/06/2020', '10/07/2020', '28/06/2020',
       '17/06/2020', '13/07/2020', '26/07/2020', '11/08/2020',
       '26/09/2020', '15/09/2020', '19/08/2020', '20/08/2020',
       '06/09/2020', '12/09/2020', '02/11/2020', '10/10/2020',
       '10/11/2020', '02/12/2020', '24/11/2020', '21/12/2020',
       '29/12/2020', '30/12/2020', '01/01/2020', '15/01/2020',
       '20/01/2020', '20/02/2020', '09/04/2020', '26/05/2020',
       '09/06/2020', '20/09/2020', '03/06/2020', '16/05/2020',
       '30/06/2020', '31/05/2020', '15/06/2020', '08/07/2020',
       '30/07/2020', '11/07/2020', '17/08/2020', '08/08/2020',
       '18/07/2020', '04/10/2020', '18/12/2020', '26/12/2020',
       '13/12/2020', '22/11/2020', '08/01/2020', '19/01/2020',
       '11/01/2020', '09/02/2020', '08/02/2020', '16/02/2020',
       '04/04/2020', '15/03/2020', '06/03/2020', '27/03/2020',
       '18/04/2020', '19/04/2020', '21/05/2020', '18/05/2020',
       '02/05/2020', '30/05/2020', '13/05/2020', '27/05/2020',
       '06/05/2020', '19/06/2020', '18/06/2020', '20/06/2020',
       '22/07/2020', '30/08/2020', '16/08/2020', '13/09/2020',
       '18/10/2020', '19/10/2020', '15/11/2020', '21/11/2020',
       '20/12/2020', '02/02/2020', '16/04/2020', '11/06/2020',
       '17/04/2020', '29/04/2020', '03/07/2020', '22/08/2020',
       '17/10/2020', '20/11/2020', '26/04/2020', '17/05/2020',
       '12/07/2020', '07/09/2020', '22/10/2020', '06/12/2020',
       '28/12/2020', '07/11/2020', '19/12/2020', '31/12/2020',
       '12/12/2020', '22/02/2020', '23/02/2020', '09/08/2020',
       '21/06/2020', '24/12/2020', '09/05/2020', '27/06/2020',
       '12/10/2020', '24/05/2020', '07/03/2020', '11/10/2020',
       '12/01/2020', '07/06/2020', '19/09/2020', '29/11/2020',
       '08/03/2020', '27/09/2020', '08/11/2020', '06/06/2020',
       '13/06/2020', '11/04/2020', '22/03/2020', '19/07/2020',
       '28/03/2020', '02/08/2020'], dtype=object)